.root {
  position: relative;
}
.productTour {
  position: fixed;
  bottom: 12%;
  right: 30px;
  background: linear-gradient(
    180deg,
    rgba(12, 64, 136, 0.9) 0%,
    rgba(12, 64, 136, 1) 100%
  );
  border: 1px solid rgba(176, 202, 238, 0.5);
  padding: 10px 0px;
  cursor: pointer;
  border-radius: 100px;
  width: 163px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 100;
}
@media (max-width: 1060px) {
  .root {
    display: none;
  }
}
