.bg {
  background: var(--secondary-gradient);
}
.root {
  padding-top: 72px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.textContainer {
  max-width: 558px;
}
.number {
  max-width: 380px;
  display: flex;
  justify-content: space-between;
  margin-top: 45.3px;
}
.digit {
  margin: 0px;
  padding: 0px;
  padding-left: 16px;
  border-left: 2px solid white;
}
.text {
  border-left: 2px dashed white;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 12px;
}
@media (max-width: 1228px) {
  .root {
    flex-direction: column;
    align-items: center;
  }
  .bg {
    background: none;
    background-color: var(--primary-color);
  }
}
