.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 10px;
}
.container {
  width: 808px;
  height: 682px;
  background-color: white;
  border-radius: 8px;
}
.top {
  display: flex;
  justify-content: space-between;
  padding: 34px 29px;
}
.headingContainer {
  display: flex;
  gap: 10px;
}
