.nav {
  display: flex;
  align-items: center;
}
.mainContainer {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 100%;
  z-index: 10;
  transition: 300ms ease-in;
}
.drawer {
  position: absolute;
  z-index: 1000;
}
.backgroundFilter {
  background: hsla(216deg, 97%, 15%, 0.8);
  backdrop-filter: blur(4px);
  transition: 300ms ease-in;
  padding: 5px !important;
  padding-top: 9px !important;
}
.backgroundFilterBlack {
  background: hsla(216deg, 100%, 3%, 0.8);
  backdrop-filter: blur(4px);
  transition: 300ms ease-in;
}
.logo {
  flex-grow: 1;
  width: 232px !important;
  cursor: pointer;
}
.list {
  padding-right: 20px;
}
.list li {
  list-style: none;
  cursor: pointer;
}
.list > div:not(:last-child) {
  height: 24px;
}
.logo img {
  width: 232px !important;
  height: auto !important;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  z-index: 10000;
}
.paragraph {
  display: flex;
  white-space: nowrap;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  margin: 0 0.2rem;
  cursor: pointer;
  width: 200px;
  height: 30px !important;
}
.responsiveContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  position: relative;
  z-index: 100;
}
.transparentSignUp:hover {
  background: rgba(255, 255, 255, 0.798) !important;
}
.btn {
  white-space: nowrap;
}
.button {
  box-shadow: 6px 4px 31px rgba(255, 255, 255, 0.5);
}
.button:hover {
  box-shadow: 6px 4px 31px rgba(112, 241, 240, 0.5) !important;
}
@media only screen and (max-width: 1238px) {
  .list {
    gap: 1rem;
  }
}
