.container {
  margin-top: 100px;
  margin-bottom: 120px;
}
.root {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  text-align: center;
  font-weight: 700 !important;
}
