.root {
  max-width: 558px;
  padding: 32px 22px;
  min-height: 830px;
}
.icon {
  color: #10ea02;
}
.textContainer {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}
@media (max-width: 680px) {
  .root {
    min-height: auto;
  }
}
