.root {
  margin-bottom: 100px;
  margin-top: 100px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 80%;
  margin: 3rem auto 0;
}
@media only screen and (max-width: 1450px) {
}

@media only screen and (max-width: 996px) {
  .container {
    gap: 60px;
  }
}
@media only screen and (max-width: 720px) {
  .container {
    gap: 40px;
  }
}
@media only screen and (max-width: 615px) {
  .container {
    gap: 30px;
  }
}
@media only screen and (max-width: 420px) {
  .container {
    gap: 20px;
  }
}
