.root {
  display: flex;
  margin-top: 42px;
  min-height: 458px;
  justify-content: space-between;
  border-radius: 8px;
  margin-right: 40px;
}
.textContainer {
  max-width: 500px;

  padding-left: 42px;
}
.image {
  width: 100%;
  border-radius: 0px 8px 8px 0px;
  background: radial-gradient(
    107.81% 257.07% at 8.19% 38.35%,
    #1455af 2.59%,
    #004bb4 5.67%,
    #0046a6 8.78%,
    #0c3d81 13.58%,
    #053272 17.22%,
    #082d60 20.84%,
    #062653 27.71%
  );
  max-width: 540px;
  box-shadow: 0px 0px 31px rgba(40, 234, 233, 0.64);
}
.imageContainer {
  letter-spacing: 0;
  word-spacing: 0;
  font-size: 0;
}
.imageContainer img {
  padding-top: 20px;
  margin-top: 20px;
}
@media (max-width: 1050px) {
  .root {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
  .textContainer {
    padding: 0px 15px;
    padding-top: 50px;
  }
  .image {
    border-radius: 8px;
  }
}
@media (max-width: 700px) {
  .root {
    margin-right: 20px;
  }
}
